#About{
    background-color: #6C0984 ;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

#About h1, #About h2, #About p{
    color: white;
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 24px;
}

#About img{
    border-radius:100%;
    object-fit:cover;
    height: 200px;
    width: 200px;
}

#About button{
    padding: 0.5rem;
    border-radius: 50px;
    background-color: #CF51E5;
    cursor: pointer;
    border-color: yellow;
    border-style:solid;
}

#About button:hover{
    opacity: 75%;
    transition: 0.3s;
}