.show-content{
    cursor: pointer;
}

.show-content:hover{
    color: blueviolet;
}

.hidden-content{
    display: none;
}

a{
    text-decoration: none;
    color: black;
}

.collapse{
    margin-bottom: 1rem;
}