body{
    margin: 0;
    font-family: 'Playfair Display', serif;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 3px 5px 15px 0 rgba(155, 161, 173, 0.2), -3px 3px 3px 3px rgba(0 0 0 / 33%);
    padding: 0.5rem;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hidden-content{
    display: none;
}

.show-content-header a{
   cursor: pointer;
   text-decoration: none;
   color: black;
}

.show-content-header a:hover{
    color: blueviolet;
}

.collapse-img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}



@media screen and (min-width: 600px) {
    .collapse-img{
        display: none;
    }
    nav .hidden-content{
        display: block;
    }
}