body{
    margin: 0;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 3px 5px 15px 0 rgba(155, 161, 173, 0.2), -3px 3px 3px 3px rgba(0 0 0 / 33%);
}

.nav-bar{
    display: flex;
    padding: 0.5rem 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.nav-bar a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.nav-bar a:hover{
    color: blueviolet;
}