body{
    margin: 0;
    font-family: 'Playfair Display', serif;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 3px 5px 15px 0 rgba(155, 161, 173, 0.2), -3px 3px 3px 3px rgba(0 0 0 / 33%);
    padding: 0.5rem;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5rem;
}

.hidden-content{
    display: none;
}

.hidden-content a:hover{
    color: grey;
}

.show-content-header{
    display: flex;
    flex-direction: column;
}

.show-content-header a{
   cursor: pointer;
   text-decoration: none;
   color: black;
   margin-bottom: 0.5rem;
}

.show-content-header a:hover{
    color: grey;
}

.collapse-img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}



@media screen and (min-width: 600px) {
    .collapse-img{
        display: none;
    }
    nav .hidden-content{
        display: block;
    }
    .show-content-header{
        display: flex;
        flex-direction: row;
    }
    .hidden-content a{
        margin-bottom: 0;
        margin-right: 1rem;
    }
    .show-content-header a {
        margin-bottom: 0;
        margin-right: 1rem;
    }
    nav{
        align-items: center;
    }
}